.title{
    font-size: 30px;
    margin: 30px 0 20px 0;
    text-align: center 
}

.container{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}


.column-container{
    display: flex;
    margin-top: 30px;
}

.left-column{
    width: 50%;
    margin-left: 30%;
    border: 3 px solid salmon;

}

.right-column{
    width: 50%;
    margin-left: 90%;
    border: 3 px solid green;
}

t {
    font-size: 20px;
}

.button-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 10px; /* Add margin-top for spacing */
}

.button-container-nav {
    display: flex;
    justify-content: space-between; /* Place the buttons at each end of the container */
    width: 70%; /* Ensure the container spans the entire width */
    position: absolute; /* Position the container relative to its closest positioned ancestor */
    bottom: 10%; /* Position the container 10px from the bottom of its containing element */
}

.button-container button {
    margin-bottom: 0; /* Remove any bottom margin applied to the buttons */
}

.btn-1{
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(108, 209, 108);
    color: black;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    
}


.btn-2{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    background-color:rgb(180, 177, 177);
    color: black;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    
}

.instr{
    margin-top: 20px;
}

.img-frame{
    height: 350px;
    width: 450px;
    padding: 8px 8px;
    border: 3px solid #4472C4;
}

#canvas {
    width:2000px;
    height:2000px;
    border: 10px solid transparent;
}
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}


.img-frame{
    height: 450px;
    width: 550px;
    padding: 8px 8px;
    border: 3px solid #4472C4;
    margin-left: calc(50% - 208px);
}

.image-inner{
    padding: 2px 2px;
    width: 100%;
    height: 100%;
    object-fit: contain
}


.stage{
    position: absolute;
}

.prediction-text{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.question2{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold; 
}

.prediction-cont {
    text-align: center;
    font-size: 16px;
    background-color: #ffffff; /* Set background color to white */
    flex: 1; /* Take up remaining space */
    margin-right: 30%; /* Add margin to the right side */
    margin-top: 10%; /* Add margin to the top */
    border: 3px solid rgb(129, 180, 181); /* Add a solid blue border */
    border-radius: 5px; /* Add border radius for rounded corners */
}

.prediction-cont2 {
    text-align: center;
    font-size: 16px;
    background-color: #ffffff; /* Set background color to white */
    flex: 1; /* Take up remaining space */
    margin-right: 30%; /* Add margin to the right side */
    margin-top: 5%; /* Add margin to the top */
}

.button-container-yes {
    padding: 4px 4px;
    margin-top: 5%;
    margin-left: 13%;
    display: inline-block;
    background-color: rgb(108, 209, 108);
    margin: 1% 5%;
}

.button-container-no {
    padding: 4px 4px;
    margin-top: 5%;
    margin-left: 13%;
    display: inline-block;
    background-color: rgb(255, 0, 10);
    margin: 1% 5%;
}

.instr{
    margin-top: 20px;
    width: 80%;
}

.parent {
    text-align: center;
  }
.parent > ul {
    display: inline-block;
}

.user-input{
    margin-right: 70%;
}

.bgrd-container {
    display: flex;
    justify-content: space-between; /* Add space between left and right containers */
    background-color: #ffffff;
    width: 100%; 
}

.page-container{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align elements to the left side */
    background-color: #ffffff;
}

.left-container {
    flex: 1; /* Take up remaining space */
    padding-right: 20px; /* Add spacing between left container and right container */
}

.right-container {
    flex: 1; /* Take up remaining space */
}

.image-container {
    margin-bottom: 20px; /* Add spacing between image and buttons */
}

.head-text {
    margin-right: auto; /* Move head-text to the left side */
    align-self: flex-start; /* Align head-text to the left */
    margin-top: 10px; /* Add margin-top to bring it closer to the center vertically */
    margin-left: auto; /* Add left margin to separate head-text from the left margin */
}

.AI_exp{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

.bullet-text{
    font-size: large;
}

.label-text{
    font-size: x-large;
    text-decoration-line: underline;
}

.match-text{
    font-size: large;
    font-weight: bold;
}

.rank-text{
    font-size: x-large;
    font-weight: bold; 
    color: #382607;
}

.click-text{
    font-weight: bold;
}

